
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="房地产-微生活" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<script src="../js/cdn_djl.js" type="text/javascript" async></script>
<script type="text/javascript">
    var search = location.search,
        star = search.indexOf('title='),
        end = search.indexOf('&',star),
        title = '户型列表-微生活';
    if(end==-1){
        end = search.length;
    }
    if(star != -1){
        title = search.substring(star+6,end)
    }
    try{title = decodeURIComponent(title);}catch(e){}
    title = title.replace(/[<>]/gi,'');
    document.write("<title>"+title+"</title>");
</script>
<title>户型欣赏</title>
<link href="../css/style.css?ver=2.3" rel="stylesheet" />
</head>
<body>
 <div class="wrapper" id="container">
 	<!-- start -->
 	<div class="act_top" id="actTop">
 	  <div class="act_top_show">
 	  	 <img src="../img/im_1440260.jpg" width="720" height="130" id="bannerPic">
 	  </div>
 	</div>
 	<div id="roomDetails">
 	  <div class="box box_up" id="box0">
 	    <h3>度假洋房</h3>
 	    <div class="box_type" style="height:auto;">
 	     <ul class="house_type">
 	        <li id="boxLi1000" class>
 	          <a href="javascript:void(0);" onClick="List.toggleList(1000,0);">
 	            <strong>J350-A</strong>
 	            <span>度假洋房</span>
 	            <em>3房2厅  约84平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1000);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1000);return false;">全景图</a>
 	          </div>
 	        </li>
 	        <li id="boxLi1001" class>
 	          <a href="javascript:void(0);" onClick="List.toggleList(1001,0);">
 	            <strong>J350-B</strong>
 	            <span>度假洋房</span>
 	            <em>2房2厅  约68平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1001);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1001);return false;">全景图</a>
 	          </div>
 	        </li>
 	        <li id="boxLi1002">
 	          <a href="javascript:void(0);" onClick="List.toggleList(1002,0);">
 	            <strong>J350-C</strong>
 	            <span>度假洋房</span>
 	            <em>2房2厅  约66平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1002);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1002);return false;">全景图</a>
 	          </div>
 	        </li>
 	        <li id="boxLi1003">
 	          <a href="javascript:void(0);" onClick="List.toggleList(1003,0);">
 	            <strong>J350-D</strong>
 	            <span>度假洋房</span>
 	            <em>3房2厅  约76平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1003);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1003);return false;">全景图</a>
 	          </div>
 	        </li>
 	         <li id="boxLi1004">
 	          <a href="javascript:void(0);" onClick="List.toggleList(1004,0);">
 	            <strong>J377-A</strong>
 	            <span>度假洋房</span>
 	            <em>1房1厅  约60平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1004);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1004);return false;">全景图</a>
 	          </div>
 	        </li>
 	        <li id="boxLi1005">
 	          <a href="javascript:void(0);" onClick="List.toggleList(1005,0);">
 	            <strong>J377-B</strong>
 	            <span>度假洋房</span>
 	            <em>1房1厅  约60平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1005);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1005);return false;">全景图</a>
 	          </div>
 	        </li>
 	         <li id="boxLi1006">
 	          <a href="javascript:void(0);" onClick="List.toggleList(1006,0);">
 	            <strong>J377-C</strong>
 	            <span>度假洋房</span>
 	            <em>2房2厅  约113平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1006);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1006);return false;">全景图</a>
 	          </div>
 	        </li>
 	         <li id="boxLi1007">
 	          <a href="javascript:void(0);" onClick="List.toggleList(1007,0);">
 	            <strong>爱琴海B-1</strong>
 	            <span>度假洋房</span>
 	            <em>2房2厅  约94平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1007);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1007);return false;">全景图</a>
 	          </div>
 	        </li>
 	     </ul>
 	     <a href="javascript:void(0);" onClick="List.switchList(this,12,0);return false;" class="btn_more">查看全部户型(7)</a>
 	    </div>
 	  </div>
 	  <div class="box box_up box_up4" id="box1">
 	    <h3>亲海别墅</h3>
 	    <div class="box_type" style="height:240px;">
 	     <ul class="house_type">
 	        <li id="boxLi1013" class>
 	          <a href="javascript:void(0);" onClick="List.toggleList(1013,1);">
 	            <strong>沙滩别墅 G60</strong>
 	            <span>亲海别墅</span>
 	            <em>4房2厅  约215平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1013);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1013);return false;">全景图</a>
 	          </div>
 	        </li>
 	        <li id="boxLi1014" class>
 	          <a href="javascript:void(0);" onClick="List.toggleList(1014,1);">
 	            <strong>沙滩别墅 G61</strong>
 	            <span>亲海别墅</span>
 	            <em>5房2厅  约270平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1014);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1014);return false;">全景图</a>
 	          </div>
 	        </li>
 	        <li id="boxLi1015" >
 	          <a href="javascript:void(0);" onClick="List.toggleList(1015,1);">
 	            <strong>联排别墅 N95</strong>
 	            <span>亲海别墅</span>
 	            <em>4房2厅  约300平米</em>
 	          </a>
 	          <div class="house_photo" style="display: none;" >
 	            <a href="javascript:void(0);" onClick="List.showDetail(1015);return false;" class="ico_type">户型图</a>
 	            <a href="javascript:void(0);" onClick="List.show3D(1015);return false;">全景图</a>
 	          </div>
 	        </li>
 	     </ul>
 	    </div>
 	  </div>
 	  </div>
 	  <p>&nbsp</p>
 	  <!-- end -->
 	  </div>
 	  <div class="pop_tips" id="popTips" style="display:none;">
 	   <div class="oval"></div>
 	   <div class="pop_show">
 	    <h4 id="tipsTitle">温馨提示</h4>
 	    <div class="pop_info" id="tipsMsg">
 	     <p></p>
 	    </div>
 	    <div class="pop_btns">
 	       <a href="javascript:void(0);" id="tipsOK">确定</a>
 	       <a href="javascript:void(0);" style="display:none" id="tipsCancel">取消</a>
 	    </div>
 	   </div>
 	  </div>
 	  <div id="popFail" style="display:none;" jqmoldstyle="block">
 	   <div class="bk"></div>
 	   <div class="cont">
 	     <img src="">
 	   </div>
 	  </div>
 	  <!-- 户型简介 start -->
 	  <script type="text/template" id="template">		
<%
var isIOS = /Mac OS/i.test(navigator.userAgent);
for(var idx=0,idxLen=data.length;idx<idxLen; idx++){
    var rooms =data[idx].rooms,
        len = rooms.length,
        style = '';
        boxCls = ' box_up';
    if(len<=4){
        boxCls += ' box_up'+len;
    }
    if(len<=4&&idx==0){
        style = ' style=" height:auto;"';
    }
%>
<div class="box<%=boxCls%>" id="box<%=idx%>">
    <h3><%=data[idx].key%></h3>
    <div class="box_type"<%=style%>>
        <ul class="house_type">
            <%for(var j=0,jl=len;j<jl;j++){ %>
            <li id="boxLi<%=rooms[j].id%>"<%if(j==0&&idx==0){%> class="current"<%}%>>
                <a href="javascript:void(0);" onclick="List.toggleList(<%=rooms[j].id%>,<%=idx%>);">
                    <strong><%=rooms[j].name%></strong>
                    <span><%=rooms[j].desc%></span>
                    <em><%=rooms[j].rooms%> <%=rooms[j].area%></em>
                </a>
                <div class="house_photo<%if(j==0&&idx==0){%> house_arrow<%}%>"<%if(j!=0||idx!=0){%> style="display:none;"<%}%>>
                    <a href="javascript:void(0);" onclick="List.showDetail(<%=rooms[j].id%>);return false;" class="ico_type">户型图</a>
                    <% if(rooms[j].full3d&&rooms[j].full3d.length){ %><a href="javascript:void(0);" onclick="List.show3D(<%=rooms[j].id%>);return false;" class="ico_360">全景图</a><%}%>
                </div>
            </li>
            <% } /* end of for j rooms.length */ %>
        </ul>
    </div>
    <%if((idx==0&&len>3)||(idx>0&&len>4)){%>
    <a href="javascript:void(0);" onclick="List.switchList(this,<%=rooms.length%>,<%=idx%>);return false;" class="btn_more">
        <span>查看全部户型(<%=rooms.length%>)</span>
    </a>
    <% } %>
</div>
<% } /*end of for desc in categories */ %>
 	  </script>
 	  <script type="text/javascript" src="../js/share.js?max_age=864000"></script>
	  <script type="text/javascript" src="http://imgcache.qq.com/c/=/club/life/trade/libs/jq.mobi.js,/club/life/trade/libs/jq.template.js,/club/life/trade/libs/iscroll.js,/club/life/trade/weixin/share.js?max_age=864000"></script>
 	  <script type="text/javascript" src="../js/common.js?ver=2.4.6"></script>
 	  <script type="text/javascript" src="../js/house.js?ver=2.4"></script>
 	  </body>
 	</html>